<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Problema</h4>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label for="Descricao" class="col-sm-2 control-label">Descrição:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="problem.descricao" placeholder="Descrição" required>
            </div>
        </div>
        <div class="form-group">
            <label for="Resposta" class="col-sm-2 control-label">Resposta:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="problem.resposta" placeholder="Resposta" required>
            </div>
        </div>
        <div class="form-group">
            <label for="Status" class="col-sm-2 control-label">Status:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="problem.status" placeholder="Status" required>
            </div>
        </div>
        <div class="form-group">
            <label for="Relator" class="col-sm-2 control-label">Relator:</label>
            <div class="col-sm-10">
                 <input type="text" class="form-control" ng-model="problem.relator" placeholder="Relator" required>
            </div>
        </div>
        </div>
        <div class="pull-right">
            <a ui-sref="problemsIndex" class="btn btn-primary">Voltar</a>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
    </div>
</div>



<!-- <select class="form-control" ng-init="problema.usuario_id = usuarios[0].id" ng-model="problema.usuario_id" ng-options="usuario.id as user.nome_completo for user in usuarios"></select> -->